{% extends 'base.html' %}
{% load static %}
{% block inner_row %}

    <div id="first_inner_row" class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="#" class="active" >{{ user.profile.get_full_name }}</a>

                            <a title="logout" class="pull-right" href="{% url 'signout' %}">
                                <img src="{% static 'enrollments/images/logout.png' %}">
                            </a>

                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body ">
                    <div class="row">
                        <div class=" col-md-9 col-lg-9 ">
                            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{% static 'enrollments/images/account-profile-user-icon.png' %}" class="img-responsive"> </div>
                            <table class="table table-user-information center-block">
                                <tbody>
                                <tr>
                                    <td>First Name</td>
                                    <td>{{ user.first_name }}</td>
                                </tr>
                                <tr>
                                    <td>Last Name</td>
                                    <td>{{ user.last_name }}</td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    <td>{{ user.profile.date_of_birth }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a href="mailto:info@support.com">{{ user.username }}</a></td>
                                </tr>
                                <tr>
                                    <td>Years of Experience</td>
                                    <td>{{ user.profile.years_of_experience }} Years</td>
                                </tr>
                                <tr>
                                    <td>Designation</td>
                                    <td>{{ user.profile.designation }}</td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <span> Last login : {{ user.profile.last_visit }} </span>
                    <span class="pull-right"> <a href="{{ user.profile.get_update_url }}"> Edit </a></span>
                </div>

            </div>
        </div>
    </div>


{% endblock inner_row %}