<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EmEnApp</title>

    {% load staticfiles %}
    {% block head %}
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'images/fav-share.ico' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'enrollments/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'enrollments/css/main.css' %}">

    <script language="JavaScript" type="text/javascript" src="{% static 'enrollments/js/jquery-1.12.1.min.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script language="JavaScript" type="text/javascript" src="{% static 'enrollments/js/moment.min.js' %}"></script>
	<script language="JavaScript" type="text/javascript" src="{% static 'enrollments/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'enrollments/js/validator.min.js' %}"></script>


    <script type="text/javascript" src="{% static 'enrollments/js/main.js' %}" > </script>
    {% endblock %}

    {% block extrahead %}
    {% endblock %}

</head>
<body>

    <div class="container">
		{% block inner_row %}
        <div id="first_inner_row" class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">

								<div id="form_errors" class="alert alert-danger fade in" style="display:none;">
								</div>

								{% block login_form %}
									{% include 'enrollments/login_form.html' %}
								{% endblock login_form %}

								{% block register_form %}
									{% include 'enrollments/reg_form.html' %}
								{% endblock register_form %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endblock inner_row %}
    </div>

</body>
</html>